.card {
    background: black;
    text-align: center;
    margin: 1.5rem;
    box-shadow: 2px 2px 15px 5px #ce8a2b2c;
}

img {
    display: block;
    width: 200px;
    object-fit: cover;
    border-radius: 8px;
}

@media only screen and (max-width: 850px) {
    img {
        width: 150px;
    }
}

@media only screen and (max-width: 690px) {
    img {
        width: 120px;
    }
}

@media only screen and (max-width: 450px) {
    img {
        width: 250px;
    }

}

@media only screen and (max-width: 350px) {
    img {
        width: 200px;
    }
}