.loader {
    border: 16px solid #ce8a2b2c; /* Light grey */
    border-top: 16px solid rgba(255, 68, 0); /* Blue */
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
    text-align: center;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loader-container {
      width: 70vw;
      height: 70vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }